# call usethis::edit_r_environ() to configure env variables in a project session
SPARSE_MATRIX_ANDROMEDA_TEMP_FOLDER=/home/rstudio/SparseMatrix/data/andromeda
SPARSE_MATRIX_OUTPUT_FOLDER=/home/rstudio/SparseMatrix/output
DATABASECONNECTOR_JAR_FOLDER=/home/rstudio/jdbc

SPARSE_MATRIX_ANDROMEDA_TEMP_FOLDER = ''
SPARSE_MATRIX_OUTPUT_FOLDER = ''

SPARSE_MATRIX_DB = 'sql server'
SPARSE_MATRIX_DB_SERVER=''
SPARSE_MATRIX_DB_PORT='1433'
SPARSE_MATRIX_DB_USER=''
SPARSE_MATRIX_DB_PASSWORD=''
SPARSE_MATRIX_PATH_TO_DRIVER = ''

SPARSE_MATRIX_CDM_DATABASE_SCHEMA=''
SPARSE_MATRIX_COHORT_DATABASE_SCHEMA=''
SPARSE_MATRIX_COHORT_TABLE='cohort'
SPARSE_MATRIX_BATCH_SIZE='1000000'